.cardFinancialTable {
    margin: 10px;
    padding: 10px;
    width: 775px;
    height: 700px;
}

.debtTable {
    margin: 10px;
    padding: 10px;
    width: 775px;
}

.tableFinancial {
    font-size: 12px;
    font-family: sans-serif;
}

.table td,
.table th {
    border-top: 0px;
    text-align: center;
}

.selectorPaid {
    width: 150px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: -10px;
}

.financialTables {
    display: flex;
    flex-direction: row;
}

@media(max-width: 900px) {

    .financialTables {
        flex-direction: column;
    }

}

.nexMonthbutton {
    background: linear-gradient(211.23deg, #8257e8 -18.92%, #9333ea 47.22%, #e633ea 106.81%) !important;
    color: #fff !important;
    margin-left: 15px;
}