.dashPage .containerUpPage{
    display: flex;
    flex-flow: row wrap;
}

.analiticPage{
    flex-direction: row;
}

.buttonPaid {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;   
}
