#cardCreditSelected {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    flex-wrap: wrap;
}

.cardCreditSelected .debit-card {
    min-width: 295px;
    min-height: 180px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 5px 3px 5px #000000a2
}

.cardCreditSelected .card-2 {
    border-color: black;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.cardCreditSelected .text-white {
    font-size: 25px
}

.cardCreditSelected .m-0 {
    color: black;
}

.cardCreditSelected .creditBody {
    font-size: 11px;
}

.modalButton {
    margin: 10px;
}

#cardText {
    color: white !important;
}

.cardForm {
    margin-left: 15px;
    margin-top: 15px;
}

.cardCredit {
    position: relative;
    margin-bottom: 100px;
}