
.cardCredit{
    display: flex;
    flex-flow: column;
    box-shadow: 3px 3px 5px #1b1b1ba2;
}

.cardCredit .debit-card {
    min-width: 320px;
    min-height: 195px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #0000001a;
    transition: all 0.3s ease-in;
    cursor: pointer
}

.px-4 {
    flex-flow: row;
    flex-wrap: wrap;
    max-width: 1040px;
}

.cardCredit .debit-card:hover {
    box-shadow: 5px 3px 5px #000000a2
}

.cardCredit .card-2 {
    border-color: black;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.cardCredit .text-muted {
    font-size: 0.8rem
}

.cardCredit .text-black {
    font-size: 30px
}

.cardCredit .m-0 {
    color: black;
}

.cardCredit .creditBody {
    font-size: 12px;    

}

.modalButton {
    margin: 10px;
}