.containerDebtpage {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.debts .cardTable{
    padding: 10px;
    min-width: 700px;
}

.debts .cardName{
    margin: 10px;
    font-size: 100%;
}

.debts .addButton{
    margin: 10px;
}