.containerDebtpage {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.debts .cardTable{
    padding: 5px;
    min-width: 700px;
}

.debts .addButton{
    margin: 10px;
    max-width: 120px;
}

.tdd {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-height: 50px;
}

.td1 {
    max-width: 150px;
    max-height: 50px;
}

.table {
    font-size: 15px;
}
