.debtModal {
    display: flex;
}

.chartProgress {
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
}

.buttonsModal {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.custom-btn {
    background-color: #1A4173;
}



@media (max-width: 768px) {
    .debtModal {
        flex-direction: column;
    }

    .chartProgress {
        margin-left: 0;
    }

    .buttonsModal {
        margin-top: 20px;
    }

    .mb-3 {
        margin-bottom: 20px;
    }
}