
.containerWallet {
}

.containerWallet .walletCards {
    display: flex;
    flex-flow: row wrap;
}

#linha {
    width: 100%;
    border-bottom: 1px solid #000000;
    margin-left: 10px;
    font-size: 30px;
    color: black;
  }