.cardMaxDebts{
    margin: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-left: 0px;
    max-height: 280px;
    max-width: 480px;
}

.cardMaxDebts .maxName{
    margin: 10px;
    font-size: 100%;
}

.cardMaxDebts .tableMaxDebts{
    margin:5px;
    width: 450px;
}