.tdd {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 300px;
}

.td1, .td2, .td3 {
    width: 150px;
}

.table {
    max-width: 750px;
}
