.cardWallet {
    padding: 10PX;
    width: 1305px !important;
    height: 600px;
}

.walletGroup{
    display: flex;
}

.cardWallet .allValue {
    margin: auto;
}

.walletTable {
    cursor: default;
}



@media(max-width: 900px) {
    .walletGroup{
        flex-flow: column-reverse;
    }

    .cardWallet {
        width: 350px !important;
        height: 600px;
    }
}