.cardWallet {
    padding: 10PX;
    width: 1305px !important;
    height: 600px;
}

.walletGroup {
    display: flex;
}

.cardWallet .allValue {
    margin: auto;
}

.walletTable {
    cursor: default;
    text-align: center;
    /* Centraliza horizontalmente */
    vertical-align: middle;
    /* Centraliza verticalmente */
}

.pending {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pending .textPending {
    font-size: 9px;
    margin-left: 5px;
}

.accordionName {
    font-size: 15px;
    font-weight: bold;
}

@media(max-width: 900px) {
    .walletGroup {
        flex-flow: column-reverse;
    }

    .cardWallet {
        width: 350px !important;
        height: 600px;
    }

    .walletTable {
        font-size: 8px;
    }

    .cardGroup {
        display: flex;
        flex-direction: row;
    }

    .accordionName {
        font-size: 9px;
        font-weight: bold;
    }
}