.appPage{
    display: flex;
    flex-flow: column;
    margin-left: 350px;
}

.containerUpPage{
    display: flex;
    flex-flow: row;
}

.allValue{
    display: flex;
    flex-flow: row wrap;
    max-width: 700px;
    height: auto;
}

.maxDebts{
}

.graphicPage{
    margin: auto;
}


.analiticPage{
    flex-direction: row;
}

.buttonPaid {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;   
}