.cardTotal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
}

.addButton{
    margin-top: 15px;
}

.buttonPaid {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;   
}