.appPage{
    display: flex;
    flex-flow: column;
}

.containerUpPage{
    display: flex;
    flex-flow: row;
}

.allValue{
    display: flex;
    flex-flow: row wrap;
    height: auto;
}

.graphicPage{
    margin: auto;
}


.analiticPage{
    flex-direction: row;
}

.buttonPaid {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;   
}
